<!DOCTYPE html>
<% query_hash = params.env['rack.request.query_hash'] %>

<html lang="en">

<head>
    <title>ETT DE Leaderboard</title>

    <!-- Favicons -->

    <link rel="apple-touch-icon" sizes="180x180" href="https://www.vlt81.de/ett/apple-touch-icon.png?v=A05lgzyvAd">
    <link rel="icon" type="image/png" sizes="32x32" href="https://www.vlt81.de/ett/favicon-32x32.png?v=A05lgzyvAd">
    <link rel="icon" type="image/png" sizes="16x16" href="https://www.vlt81.de/ett/favicon-16x16.png?v=A05lgzyvAd">
    <link rel="manifest" href="https://www.vlt81.de/ett/site.webmanifest?v=A05lgzyvAd">
    <link rel="mask-icon" href="https://www.vlt81.de/ett/safari-pinned-tab.svg?v=A05lgzyvAd" color="#5bbad5">
    <link rel="shortcut icon" href="https://www.vlt81.de/ett/favicon.ico?v=A05lgzyvAd">
    <meta name="apple-mobile-web-app-title" content="ETT DE Leaderboard">
    <meta name="application-name" content="ETT DE Leaderboard">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="https://www.vlt81.de/ett/browserconfig.xml?v=A05lgzyvAd">
    <meta name="theme-color" content="#ffffff">

    <!-- ######################################### -->


    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <% unless query_hash['auto_refresh'].nil? %>
    <meta http-equiv="refresh" content="10" />
    <% end %>

    <%= stylesheet 'bootstrap.min' unless ENV['HANAMI_ENV'] == 'production' %>
    <link href="https://vlt81.de/assets/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">
    <%= javascript 'bootstrap.bundle.min' unless ENV['HANAMI_ENV'] == 'production' %>
    <script src="https://vlt81.de/assets/bootstrap.min.js"></script>

    <%= render template: 'navbar' %>

    <div class="container-fluid bg-light">
        <%= yield %>
    </div>
</body>

</html>
